@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles START */
main {
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: tomato; */
  height: 200px;

}

main>section {
  margin-top: 130px;
}

/* header styles START */
/* -------Header END------------------------ */


/* navbar Related styles START */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;

}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}


.banner-content {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
  /* background-color: tomato; */
}


.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* -------Navbar END------------------------ */

/* Teams and related style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.our-feature-title {
  font-size: 2.8rem;
}


#quick-list {
  font-size: 2.8rem;
  font-weight: 500;

}

/* -------END--------------------------------- */


/* some fact Start */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.fact-card {
  border: 1px solid #ff900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;

}

.face-desc {
  max-width: 540px;
}

/* ----------------some fact END------------------------*/
/* Responsive media query */
@media screen and (max-width:576px) {

  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }


  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .our-features {
    margin-left: 20px;

  }

  .our-feature-desc {
    text-align: center;
  }
}



/* -----------Medium size Device -------------------------------------------------- */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our-features {
    margin-left: 50px auto;
  }
}

/* -------Responsive media Query END------------------------ */